---
title: Side Projects | Ruby/Ruby on Rails Engineer based in Bangkok, Thailand
---
<div class="flex flex-col min-h-screen justify-center items-center m-10">
  <%= partial "header" %>

  <div class="grid max-w-4xl">
    <div class="grid mb-8 border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 md:mb-12 md:grid-cols-2 bg-white dark:bg-gray-800">
      <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Handle common tasks in your projects</h3>
          <p class="my-4">Versatile command-line interface tool designed as a Proof of Concept to automate and simplify tasks in development environments</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
          <div class="space-y-0.5 font-medium dark:text-white text-center ms-3">
            <div><a href="https://github.com/moviendome/qq_cli" target="_blank" class="font-bold underline">QQ CLI</a></div>
            <div class="text-sm text-gray-500 dark:text-gray-400 ">Rust</div>
          </div>
        </figcaption>    
      </figure>
      <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-se-lg dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Finances Made Easy</h3>
          <p class="my-4">Solution that I use every day to track my Personal and Business finances built in Ruby on Rails & Deployed with Kamal in a small VPS</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
          <div class="space-y-0.5 font-medium dark:text-white text-center ms-3">
            <div><a href="https://billets.fyi/" target="_blank" class="font-bold underline">Billets</a></div>
            <div class="text-sm text-gray-500 dark:text-gray-400">Ruby on Rails & Litestack</div>
          </div>
        </figcaption>    
      </figure>
      <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-es-lg md:border-b-0 md:border-e dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Supercharge your Trading</h3>
          <p class="my-4">Real-Time Order Book Analysis, Live Insights, Enhanced Strategies & Secure Trading</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
          <div class="space-y-0.5 font-medium dark:text-white text-center ms-3">
            <div><a href="https://orderbook.live/" target="_blank" class="font-bold underline">Live Orderbook</a></div>
            <div class="text-sm text-gray-500 dark:text-gray-400">Ruby on Rails</div>
          </div>
        </figcaption>    
      </figure>
      <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-gray-200 rounded-b-lg md:rounded-se-lg dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Cross-Platform Wallet</h3>
          <p class="my-4">You have many examples that can be used to create a fast prototype for your team."</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
          <div class="space-y-0.5 font-medium dark:text-white text-center ms-3">
            <div><a href="https://github.com/moviendome/expo-solana-wallet" target="_blank" class="font-bold underline">Solana Wallet</a></div>
            <div class="text-sm text-gray-500 dark:text-gray-400">Expo / React Native</div>
          </div>
        </figcaption>    
      </figure>
    </div>
  </div>

  <%= partial "links" %>
</div>

