---
title: Work | Ruby/Ruby on Rails Engineer based in Bangkok, Thailand
---
<div class="flex flex-col min-h-screen justify-center items-center m-10">
  <%= partial "header" %>

  <div class="grid max-w-4xl md:grid-cols-2 gap-8">
    <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
      <div class="text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-gray-200 mb-2">
        About
      </div>
      <h2 class="text-gray-900rs dark:text-white text-3xl font-extrabold mb-2">
        I'm a Software Engineer with +20 years of experience, specialized in Ruby on Rails
      </h2>
      <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">
        I've been a Software Engineer for over 20 years, working with teams worldwide, mainly focusing on Ruby/Ruby on Rails. 
      </p>
      <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">
        I love building systems easy to maintain, test, and scale. Leading teams is something I really enjoy too. 
      </p>
      <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">
        10 years ago, I made the move to Asia SE and it's been an incredible base for me.
      <p>
      <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">
        When I'm not working, I'm usually working out, traveling, or playing video games. These things keep me fresh and full of new ideas.
      </p>
    </div>
    <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
      <ol class="relative border-s border-gray-200 dark:border-gray-700">                  
        <li class="mb-10 ms-6">            
          <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-800 dark:bg-blue-900">
          </span>
          <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">Oivan TH <span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ms-3">Current</span></h3>
          <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Since April, 2023</time>
          <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
            Team Lead driving the delivery, testing, and integration of a pioneering service in Saudi Arabia.
          </p>
        </li>
        <li class="mb-10 ms-6">
          <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-800 dark:bg-blue-900">
          </span>
          <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Factorial</h3>
          <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Apr 22 - Jul 22</time>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">
            Lead the strategic migration from Stripe to Chargebee to expand market reach.
          </p>
        </li>
        <li class="mb-10 ms-6">
          <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-800 dark:bg-blue-900">
          </span>
          <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Aurora Labs</h3>
          <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Nov 21 - Jan 22</time>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">
            Lead the implementation of a wallet in Rainbow Bridge for seamless token transactions across Aurora, Ethereum, and NEAR networks.
          </p>
        </li>
        <li class="mb-10 ms-6">
          <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-800 dark:bg-blue-900">
          </span>
          <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Opn</h3>
          <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Jan 20 - Jan 21</time>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">
            Key contributor in migrating to VisaNet, slashing processing fees by 90%.
          </p>
        </li>
        <li class="ms-6">
          <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-800 dark:bg-blue-900">
          </span>
          <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Workspoke</h3>
          <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Jan 17 - Dec 18</time>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">
            Orchestrated Coinbase integration to enable invoice payments via crypto wallets, developed API wrappers for enhanced payment processing.
          </p>
        </li>
      </ol>
    </div>
  </div>

  <%= partial "links" %>
</div>

